<%= (function(link , jsmods){
	let str = '';
	let version = this.version || '';
	let base = this.staticHost + this.pcPath + '/js/';
	if (link.length) {
		!link.includes('jquery') && link.unshift('jquery');
		link.map(src => {
			str += '<script src="' + base + src + '.js' + version + '"></script>';
		});
		return str;
	}
	if (jsmods.length) {
		!jsmods.includes('jquery') && jsmods.unshift('jquery');
		jsmods = '~' + jsmods.join('+');
		str += '<script  src="' + base + jsmods + version + '"></script>';
	}
	return str;
})(this._JSLinks ,this._JSmods) %>

<script>
	<% if (this._JSstack.length) { %>
		<%= this._JSstack.join(";\n"); %>
	<% }
	if (this.jsDefer) { %>    
		;fml.iLoad();
	<%}%>
</script>
</body>
</html>