<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= this.pageTitle %></title>
	<meta name="description" content="<%= this.pageDescription %>" />
	<meta name="keywords" content="<%= this.pageKeywords %>" />
	<%=
		(function(link ,cssmods){
			let cssStr ='',
				version = this.version || '',
				base = this.staticHost + this.pcPath + '/css/';
			if(link.length){
				link.map(src => {
					cssStr += '<link rel="stylesheet" href="' + base + src +'.css' + version + '">'
				});
				return cssStr;
			}
			if(cssmods.length){
				cssmods = '~' + cssmods.join('+');
				cssStr += '<link rel="stylesheet" href="' + base + cssmods + version + '">';
			}
			return cssStr; 
		})(this._CSSLinks ,this._CSSmods)
	%>
	<% if(this._CSSstack.length){ %>
		<style><%= this._CSSstack.join("\n"); %></style>
	<% } %>
	<script type="text/javascript" src="<%= this.staticHost %>/fml.js<%= this.version || '' %>"></script>
	<script>
		fml.setOptions({
			'sversion' : '<%= this.version || '' %>',
			'defer' : <%= this.jsDefer %>,
			'modulebase' : '<%= this.staticHost + this.pcPath %>' + '/js/'
		});
	</script>
</head>
<body>