<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= this.pageTitle %></title>
	<meta name="description" content="<%= this.pageDescription %>" />
	<meta name="keywords" content="<%= this.pageKeywords %>" />
	<%=
		(function(css){
			let cssStr ='',
				base = this.staticHost + this.pcPath;
			css.forEach(function(src){
				cssStr += '<link rel="stylesheet" href="'+base+'/css/page/'+src+'.css?v='+this.version+'">'
			});
			return cssStr; 
		})(this._CSSLinks)
	%>
	<script type="text/javascript" src="<%= this.staticHost + this.pcPath %>/js/fml.js?v=<%= this.version %>"></script>
</head>
<body>