<!DOCTYPE html>
<!--[if IE 7]><html lang="en" class="ie7 lt-ie10"><![endif]-->
<!--[if IE 8]><html lang="en" class="ie8 lt-ie10"><![endif]-->
<!--[if IE 9]><html lang="en" class="ie9 lt-ie10"><![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en">
<!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<title><%= this.pageTitle %></title>
	<meta name="description" content="<%= this.pageDescription %>" />
	<meta name="keywords" content="<%= this.pageKeywords %>" />
	<meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1" />
	<!-- 域名预解析 -->
	<link rel="dns-prefetch" href="//img.inke.cn/">
	<link rel="stylesheet" type="text/css" href="<%= this.staticHost + this.pcPath %>/css/base.css<%= this.version || '' %>">
	<%=
		(function(link){
			let cssStr ='',
				version = this.version || '',
				base = this.staticHost + this.pcPath + '/css/';
			if(link.length){
				link.map(src => {
					cssStr += '<link rel="stylesheet" href="' + base + src +'.css' + version + '">'
				});
				return cssStr;
			}
		})(this._CSSLinks)
	%>
	<% if(this._CSSstack.length){ %>
		<style><%= this._CSSstack.join("\n"); %></style>
	<% } %>
	<script type="text/javascript" src="<%= this.staticHost %>/fml.js<%= this.version || '' %>"></script>
	<script>
		fml.setOptions({
			'sversion' : '<%= this.version || '' %>',
			'defer' : <%= this.jsDefer %>,
			'modulebase' : '<%= this.staticHost + this.pcPath %>/js/'
		});
		fml.vars.widgetBanner = [];
		fml.vars.debug = <%= ETC.debug %>;
	</script>
</head>
<body>