<%#head.html%>
<%
	var testData = {
		's':'pc 页'
	};
	var busi = this.busi || {}
	var busiData = busi.data || {};
	var wx = busiData.wx || {};

	var list=this.list || {}
	var inkeData=list.data || {}
	var hotlists=inkeData.hotlists || []
%>
<div><%= testData.s %></div>
<%%>
<p>this is a test page</p>

<p>md5:<%= UTILS.md5('asdasd') %></p>

<p>os :<%= JSON.stringify(UTILS.os) %></p>

<p>当前浏览器是：<%= JSON.stringify(UTILS.os.browser) %></p>
 
<p>XSS:<%== '<script type="text/javascript">alert("XSS")</script>' %></p>

<p>XSS可以看<a href="http://<%= this.ip %>:<%= this.port %>/index/xss/?xss=%27;alert(%27xss%27);%27" target="_blank">http://<%= this.ip %>:<%= this.port %>/index/xss/?xss=%27;alert(%27xss%27);%27</a></p>

<p><a href="javascript:;" id="get">get方式ajax</a></p>

<div id="ajaxContent"></div>

<p><a href="javascript:;" id="post">post方式ajax</a></p>

<br>
<%= requireWidget('widget/banner.html',{
	'model' : this,
	'data':this.banner,
	'config':{
		"beforeCallback":function(){console.log('start')},
		"finishCallback":function(){console.log('finished')},
		"autoTime":1800,
		"index":1
	}
});%>
<br>
<%= requireWidget('widget/banner.html',{
	'model' : this,
	'id':'widgetBanner2',
	'class':'widget-banner2',
	'data':this.banner,
	'config':{
		"autoTime":3200
	}
});%>


<img src="<%= this.staticHost + this.pcPath %>/img/index.png" alt="">
<img src="//www.baidu.com/img/bd_logo1.png" alt="">

<!-- 这
是 注
释 -->

<!-- 这是注释 -->
<ul>
	<% for(var i in wx){ %>
		<li><%= wx[i] %></li>
	<% } %>
</ul>


<ul>
	<% (hotlists.length >3) && (hotlists.length = 3) %>
	<% hotlists.forEach((item,index)=>{ %>
		<% for(var j in item){ %>
			<li><span><%= j %></span> : <%= item[j] %></li>
		<% } %>
	<% }) %>
</ul>

<script type="text/html" id="pageTpl">
<!-- 这是注释 -->
	<ul>
		<li>this is a test</li>
		<li>win-width:<?= $(window).width()+'px' ?></li>
		<br>
		<? (this.hotlists.length >3) && (this.hotlists.length = 3) ?>
		<? this.hotlists.forEach((item,index)=>{ ?>
			<? for(var j in item){ ?>
				<li><span><?= j ?></span> : <?= item[j] ?></li>
			<? } ?>
		<? }) ?>
	</ul>
</script>
<% this.useModule( [ 'page/index' ] ) %>
<%#foot.html%>