<%#head.html%>
<%
	var testData = {
		's':'pc'
	};
	var busi = this.busi || {}
	var busiData = busi.data || {};
	var wx = busiData.wx || {};

	var list=this.list || {}
	var inkeData=list.data || {}
	var hotlists=inkeData.hotlists || []
%>
<div><%= testData.s %></div>

<p>md5:<%= TOOLS.md5('asdasd') %></p>

<p>os :<%= JSON.stringify(TOOLS.os) %></p>

<p>当前浏览器是：<%= TOOLS.browser %></p>


<p>XSS:<%== <script>alert(9)</script> %></p>

<p><a href="javascript:;" id="get">get方式ajax</a></p>

<div id="ajaxContent"></div>

<p><a href="javascript:;" id="post">post方式ajax</a></p>

<%#test/test2/test2.html%>
<img src="<%= this.staticHost + this.pcPath %>/img/index.png" alt="">
<img src="//www.baidu.com/img/bd_logo1.png" alt="">

<!-- 这是注释 -->
<ul>
	<% for(var i in wx){ %>
		<li><%= wx[i] %></li>
	<% } %>
</ul>




<ul>
	<% (hotlists.length >3) && (hotlists.length = 3) %>
	<% hotlists.forEach(function(item,index){ %>
		<% for(var j in item){ %>
			<li><span><%= j %></span> : <%= item[j] %></li>
		<% } %>
	<% }) %>
</ul>

<p>this is a test</p>

<script type="text/html" id="pageTpl">
<!-- 这是注释 -->
	<ul>
		<li>this is a test</li>
		<li>win-width:<?= $(window).width()+'px' ?></li>
		<? (this.hotlists.length >3) && (this.hotlists.length = 3) ?>
		<? this.hotlists.forEach(function(item,index){ ?>
			<? for(var j in item){ ?>
				<li><span><?= j ?></span> : <?= item[j] ?></li>
			<? } ?>
		<? }) ?>
	</ul>
</script>

<% this.useModule( [ 'page/index' ] ) %>
<% this.useModule( [ 'page/test/test' ] ) %>
<%#foot.html%>