<!DOCTYPE html>
<html lang="en" class="<%= UTILS.os.iphone ? 'iphone' : '' %><%= UTILS.os.android ? ' android' : '' %><%= UTILS.os.ipad ? ' ipad' : '' %><%= UTILS.os.browser.chrome ? ' chrome' : '' %><%= UTILS.os.browser.firefox ? ' firefox' : '' %><%= UTILS.os.browser.ie ? ' ie' : '' %><%= UTILS.os.browser.opera ? ' opera' : '' %><%= UTILS.os.browser.uc ? ' uc' : '' %><%= UTILS.os.browser.qqbrowser ? ' qqbrowser' : '' %><%= UTILS.os.browser.safari ? ' safari' : '' %><%= UTILS.os.browser.isWeixin ? ' weixin' : '' %><%= UTILS.os.browser.isMobileQQ ? ' mobileQQ' : '' %>">
<head>
	<meta charset="UTF-8">
	<title><%= this.pageTitle %></title>
	<meta name="description" content="<%= this.pageDescription %>" />
	<meta name="keywords" content="<%= this.pageKeywords %>" />
	<meta name="viewport" content="width=device-width,<%= UTILS.os.android ? ' target-densitydpi=device-dpi,' : '' %> initial-scale=1, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
	<meta content="telephone=no" name="format-detection"/>
	<!-- 域名预解析 -->
	<link rel="dns-prefetch" href="//img.inke.cn/">
	<link rel="stylesheet" type="text/css" href="<%= this.staticHost + this.h5Path %>/css/base.css<%= this.version || '' %>">
	<%=
		(function(link ,cssmods){
			let cssStr ='',
				version = this.version || '',
				base = this.staticHost + this.h5Path + '/css/';
			if(link.length){
				link.map(src => {
					cssStr += '<link rel="stylesheet" href="' + base + src +'.css' + version + '">'
				});
				return cssStr;
			}
			if(cssmods.length){
				cssmods = '~' + cssmods.join('+');
				cssStr += '<link rel="stylesheet" href="' + base + cssmods + version + '">';
			}
			return cssStr; 
		})(this._CSSLinks ,this._CSSmods)
	%>
	<% if(this._CSSstack.length){ %>
		<style><%= this._CSSstack.join("\n"); %></style>
	<% } %>
	<script>
	(function(doc, win) {
	    var docEl = doc.documentElement,
	        resizeEvent = 'orientationchange' in window ? 'orientationchange' : 'resize';

	    function getClientWidth() {
	        var cw = docEl.clientWidth;
	        (cw > 750) && (cw = 750);
	        docEl.style.fontSize = cw / 7.5 + 'px';
	    }
	    if (!docEl.addEventListener) return;
	    win.addEventListener(resizeEvent, getClientWidth, false);
	    doc.addEventListener('DOMContentLoaded', getClientWidth, false);
	})(document, window);
	</script>
	<script type="text/javascript" src="<%= this.staticHost %>/fml.js<%= this.version || '' %>"></script>
	<script>
		fml.setOptions({
			'sversion' : '<%= this.version || '' %>',
			'defer' : <%= this.jsDefer %>,
			'modulebase' : '<%= this.staticHost + this.h5Path %>/js/'
		});
		fml.vars.widgetBanner = [];
		fml.vars.debug = <%= ETC.debug %>;
	</script>
</head>
<body>