<%
	var site = this.site || {};
	var staticPath = this.site.staticPath;
%>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= this.pageTitle || site.pageTitle %></title>
	<meta name="description" content="<%= this.pageDescription || site.pageDescription %>" />
	<meta name="keywords" content="<%= this.pageKeywords || site.pageKeywords %>" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
	<%=
		(function(css){
			var cssStr='',
				base =staticPath;
			css.forEach(function(src){
				cssStr+='<link rel="stylesheet" href="'+base+'/css/page/'+src+'.css?v='+site.version+'">'
			});
			return cssStr; 
		})(this._CSSLinks)
	%>
	<script>
	(function(doc, win) {
	    var docEl = doc.documentElement,
	        resizeEvent = 'orientationchange' in window ? 'orientationchange' : 'resize';

	    function getClientWidth() {
	        var cw = docEl.clientWidth;
	        (cw > 750) && (cw = 750);
	        docEl.style.fontSize = cw / 7.5 + 'px';
	    }
	    if (!docEl.addEventListener) return;
	    win.addEventListener(resizeEvent, getClientWidth, false);
	    doc.addEventListener('DOMContentLoaded', getClientWidth, false);
	})(document, window);
	</script>
</head>
<body>