<!-- 由于弹层的数据基本都是ajax获取的，所以此插件采用shareTmp方式，引用的时候，只需在JS中调用即可，参考index.js -->
<script type="text/html" id="widgetDialogTpl">
	<div id="widgetDialog" class="widget-dialog <?= this.widgetDialogOpts.class ?>">
		<div class="widget-dialog-inner">
			<p class="widget-dialog-title"><?= this.widgetDialogOpts.title ?></p>
			<div>
				<? if(this.widgetDialogOpts.type === 'confirm'){ ?>
					<a href="javascript:;" class="widget-dialog-btn-cancel" id="widgetDialogBtnCancel">
						<?= this.widgetDialogOpts.cancel ?>
					</a>
				<? } ?>
				<a href="javascript:;" class="widget-dialog-btn-confirm <?= this.widgetDialogOpts.type === 'confirm' ? '' : 'dialog100' ?>" id="widgetDialogBtnConfirm">
					<?= this.widgetDialogOpts.confirm ?>
				</a>
			</div>
		</div>
	</div>
</script>
<!-- 因为是采用shareTmp方式，widget/dialog并不是函数执行，而是定义了此组件，必会在后面引入调用，为了避免JS加载俩次，这里不需要引入 -->
<!-- 此处采用了模板语法的注释功能，页面不会加载widget/dialog  -->
<%* this.useModule( [ 'widget/dialog' ] ) %>